{% extends 'base.html.twig' %}

{% block title %}Hello UserVinylController!{% endblock %}

{% block body %}
<div class="wrapper">
<h1>Notre liste de Vinyl 1983</h1>
{% for vinyl in tousMesVinylesDe1983 %}
    <div>{{vinyl.titre}}</div>
{% endfor %}
</div>
{% endblock %}
