@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

img,
input {
    width: 100%;
}
h1{
    margin: 1rem 0;
    padding: 0 1rem;
    color: rgb(209, 45, 45);
}
header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
#logo{
    width: 60px;
}
#navMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3.5rem;
    justify-content: space-between;
    list-style-type: none;
    left: 0;
    background-color: #fff;
    width: 100%;
    transition: .6s all;
}
#navMenu a{
    text-decoration: none;
    color: black;
}
nav ul{
    z-index: 10;
}
nav i{
    margin-right: .5rem;
}
#user a,
#user span {
    color: black;
    text-decoration: none;
    padding: 1rem .5rem;
}


#user {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    background-color: #fff;
    width: 100%;
    top: 11rem;
    transition: .6s all;
    z-index: 0;
}

#navMenu li {
    padding: .5rem;
    position: relative;
}

.subMenu {
    position: absolute;
    top: 0rem;
    overflow: hidden;
    transition: .4s all;
    background-color: #fff;
    z-index: 2;
}

.hideSubMenu {
    left: 5rem;
    max-height: 0px;
}

.showSubMenu {
    left: 5rem;
    max-height: 500px;
}

.slideRight {
    transform: translateX(0);
}

.slideLeft {
    transform: translateX(-100%);
}

.menuBtn:hover,
#user a:hover {
    background-color: #cfe3ff;
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    font-weight: 900;
    background-color: rgb(207, 44, 44);
    color: #fff;
    margin: 0 auto;
    margin-top: 1rem;
}
#burger{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(209, 45, 45);
    font-size: 2rem;
    padding-right: 1rem;
}
#burger:hover{
    cursor: pointer;
    color: rgb(254, 84, 84);
}
.spacer{
    border: rgb(254, 84, 84) .1px solid;
    max-width: 1440px;
    margin:0 auto;
    box-shadow: 0px 1px 5px 0px rgba(254, 84, 84, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(254, 84, 84, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(254, 84, 84, 0.75);
}
@media screen and (min-width:576px) {
    #navMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        width: fit-content;
    }
    #logo{
        width: 100px;
    }
    #user {
        display: flex;
        position: static;
        width: fit-content;
    }

    #burger {
        display: none;

    }

    .subMenu {
        top: 3rem;
    }

    .showSubMenu {
        left: 0rem;
    }

    .hideSubMenu {
        left: 0rem;
    }

    .slideLeft {
        transform: translateX(0);
    }
}